*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppens', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/Untitled\ design\ \(2\).png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 148px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.redspan{
    color: #ff004f;
}
#about{
    margin-top: 15%;
    margin-bottom: 15%;
    justify-content: center;
}
#about .container h1{
    text-align: center;
    margin-bottom: 10px;
}

/* ----------------Skills---------------- */

#Skills{
    width: 100%;
    height: 100vh;
    color: #fff;
}
#Skills .tab-titles{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tab-link{
    margin-left: 8%;
    margin-right: 8%;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-link.active::after{
    width: 70%;
}
.tab-contents ul li{

    margin: 10px 10px 0 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    padding: 30px 30px;
}
.technical-skills{
    display: flex;
    justify-content: space-between;
}
.technical-skills h3{
    color: #ff004f;
}
.experience p{
    margin-top: 10px;
}
.technical-skills li{
    font-weight: bold;
}
.tab-contents p{
    margin-top: 10px;
}
/* --------------contact----------------- */
.row{
    display: flex;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left a{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-bottom: 30px;
}
.social-icons a{
    color: #ababab;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    border-radius: 8%;
    padding: 10px 10px;
    background-color: #ff004f;
    color: #fff;
    text-decoration: none;
}
.contact-right form{
    width: 100%;
}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn2{
    display: block;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 250;
    margin-top: 20px;
}
/* ---------------small screen------------------- */
nav .fas{
    display: none;
}
/* ----------css fir small screens------------ */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(image/VZWyBm-removebg-preview_LE_auto_x4.jpg);
        background-size: cover;
        background-position: inherit;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #Skills .tab-titles{
        width: 100%;
        display: flex;
    }
    #Skills .tab-titles h2{
        font-size: 15px;
        display: inline-block;
    }
    .technical-skills{
        display: block;
    }
    .row{
        display: block;
    }
    .contact-left{
        flex-basis: 35%;
    }
    .contact-right{
        flex-basis: 60%;
    }
}